/*variables */
:root {
--background-color: #9FC3CC;
--body-color: #457B87;
}

body {
	background-color: var(--background-color);
	color: var(--body-color);
	font-family: din-2014, sans-serif;
  font-weight: 200;
  font-style: normal;
}

/*general css*/

h3{
	margin: 0;
	font-family: din-2014, sans-serif;
	font-weight: 200;
}

h4 {
  margin: 0;
  font-family: din-2014, sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
  font-family: din-2014, sans-serif;
  font-weight: 600;

}

h1 {
  font-size: 2.4rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 2.0rem;
}

h4 {
	font-size: 1.5rem;
}

p {
  font-weight: 300;
}

#wrapper {
	margin: 2rem auto;
	max-width: 1220px;
	padding: 0 2rem;
}

/*MASTHEAD*/

#masthead, #main {
	margin-bottom: 2rem;
}

.grid div {
  /*background-color:rgba(0,0,0,0.04);*/
}

#logo a {
	color: var(--body-color);
	text-decoration: none;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

#logo h1 {
	letter-spacing: .5px;
	font-weight: 600;
	font-size: 3rem;
}

#logo svg {
	margin-right: .5rem;
	align-items: left;
	height: 5.0rem;
	width: auto;
}

/*NAV section*/

#nav a { 
  color: #2C5056;
  font-weight: 300; 
  letter-spacing: 2px; 
  text-decoration-color: transparent; 
  display: inline-block; 
  width: 100%; 
  text-align: center; 
  transition: text-decoration-color .3s ease-in-out;
}

#nav a:hover, #nav a.active { 
  text-decoration-color: var(--body-color);
}

#nav.active {
  display: block;
}

#nav ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
}

#nav li {
  flex: 3; 
}

#nav-button {
  display: none;
} 

#nav-button-holder {
  justify-content: flex-end;
  display: flex; 
  width: 100%;
  height: 100%;
  align-items: center;
}

.hamburger {
  height: 24px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: var(--body-color); }

.hamburger-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background-color: var(--body-color);
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*HOME*/

#intro {
  display: flex;
  align-items: center;
}

#work h3, #work h1, #writings h3, #portfolio h3, #resume h3, #contact h3 #work-holder{
  margin-bottom: 2rem;
  align-items: center;
  letter-spacing: 1px;
}

#work h3 a, #writings h3 a, #writings h2 a, #portfolio h3 a {
  color: var(--body-color);
  text-decoration: none;
}

.work-item {
  overflow: hidden;
  height: 0;
  position: relative;
  width: 100%; 
  padding-top: calc((1 / 1) * 100%);
  background-color: var(--body-color);;
}

.work-item .inner {
  text-decoration: none;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-item .inner .work-inside {
  transition: opacity .3s ease-in-out;
  opacity: 0;
  color: #fff;
  padding: 2rem;
  width: 100%;
  background-color:rgba(0,0,0,0.6);
  text-align: right;
}

.work-item .inner:hover .work-inside {
  opacity: 1;
}

.work-item img {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#portfolio-holder img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-holder .caption {
  font-size: .75rem;
  color: #666666
  text-align: right;
}

.writing-item .date-holder {
  margin-bottom: .25em;
}


.writing-item img{
  display: block;
  width: 100%;
  height: auto;
}

.writing-item .caption {
  font-size: .75rem;
  font-weight: 500;
  color: #2C5056;
  display: block;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: 2rem;
  text-align: right;
}

.writing-item .date {
  margin: 0;
  font-size: .85rem;
  padding: 0 4px;
  color: #9FC3CC;
  display: inline-block;
  background-color: var(--body-color);
}

.writing-item h2 a {
  color: #2C5056;
  text-decoration-color: transparent; 
  transition: text-decoration-color .3s ease-in-out;
  font-weight: 600;
}

.writing-item h4 a {
  color: var(--body-color);
  text-decoration-color: transparent; 
  transition: text-decoration-color .3s ease-in-out;
}

.writing-item h3 a {
  color: var(--body-color);
  text-decoration-color: transparent;
  transition: text-decoration-color .3s ease-in-out;
  font-weight: 400;
}

.writing-item h2 a:hover {
  color: var(--body-color);
  text-decoration-color: var(--body-color); 
}

.writing-item p a {
  color: var(--body-color);
  text-decoration-color: var(--body-color); 
}

/*PORTFOLIO * WRITING*/

#portfolio, #writings {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#porfolio .workitem {
  padding-top: calc((9 / 16) * 100%);
}

#porfolio .workitem .inner .work-inside {
  opacity: 1;
}

#porfolio p a {
  color: var(--body-color);
  text-decoration-color: var(--body-color);
  transition: text-decoration-color .3s ease-in-out;
}

#porfolio p a:hover {
  text-decoration-color: transparent;
}



/*footer*/

#footer {
  text-align: right;
  font-size: .85rem;
  color: #E33F40;
}

/*responsive features*/

/*for variable type sizing*/
  @media screen and (min-width: 320px) {
    body {
      font-size: calc(12px + 4 * ((100vw - 320px) / 960));
    }
  }

@media all and (max-width: 700px) { 
  #nav-button {
    display: block;
  }
  #nav {
    border-bottom: 1px solid var(--body-color);;
    display: none;
  }
  #nav li { 
    width: 100%; 
    flex-basis: 100%;
    margin-bottom: 1rem;
  } 
  #intro-holder h1 {
    font-size: 2.2rem;
  }

  .work-item .inner .work-inside {
    opacity: 1;
  }
}

@media all and (min-width: 699px) {

  #intro {
    height: 10vh;
  }

  #intro-holder {
    padding: 0 19em;
  }
}

body {
  font-size: 16px;
}